.header {
  width: 1720px;
  margin: 0 auto;
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-wrap {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/header_bg_main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__logo {
    &-descr {
      text-align: center;
      font-weight: 400;
      margin-top: 70px;
      font-size: 20px;
      color: rgba(122, 122, 122, 0.81);
    }
  }
  &__reasons {
    margin-left: 140px;
    div + div {
      margin-top: 20px;
    }
    div {
      display: block;
      display: table;
      padding: 33px;
      width: auto;
      background: rgba(228, 228, 228, 0.43);
      border-radius: 16px 16px 16px 0px;
      font-weight: 400;
      font-size: 18px;
      transition: all .2s;
      color: #000000;
      &:hover {
        background: #FFFFFF;
        box-shadow: 0px 47px 80px rgba(125, 125, 125, 0.07), 0px 30.463px 46.8519px rgba(125, 125, 125, 0.0531481), 0px 18.1037px 25.4815px rgba(125, 125, 125, 0.0425185), 0px 9.4px 13px rgba(125, 125, 125, 0.035), 0px 3.82963px 6.51852px rgba(125, 125, 125, 0.0274815), 0px 0.87037px 3.14815px rgba(125, 125, 125, 0.0168519);
        border-radius: 14px;
      }
    }
  }
  &-down {
    margin: 30px auto;
    display: block;
  }
}